{% extends "base.html" %}
{% block main %}
<div class="wrap main">
  <div class="medium-3 main-menu">
    <ul class="menu">
      <li><a href="#base">Base</a></li>
      <li><a href="#color">Color</a></li>
      <li><a href="#form">Form</a></li>
      <li><a href="#table">Table</a></li>
      <li><a href="#button">Button</a></li>
      <li class="active"><a href="#grid">Grid</a></li>
      <li><a href="#helper">Helper</a></li>
    </ul>
  </div>
  <div class="medium-9 main-container">
    <div class="wrap">
      <div class="small-12" id="base">
        <h2>Base</h2>
        {% for i in range(1,7) %}
        <h{{ i }}>h{{ i }}, Hello</h{{ i }}>
        {% endfor %}
      </div>
      <div class="small-12" id="color">
        <h2>Color</h2>
        {% for item in ['red','green','blue'] %}
        <p class="text-{{ item }}">.text-{{ item }}</p>
        {% endfor %}
        {% for item in ['red','green','blue'] %}
        <p class="bg-{{ item }}">.bg-{{ item }}</p>
        {% endfor %}
        </div>
      </div>
      <div class="small-12" id="form">
        <h2>Form</h2>
        <form>
          <label>text
            <input type="text">
            <span>help text</span>
          </label>
          <input type="text" readonly value="readonly">
          <input type="text" disabled value="not allowed">
          <input type="checkbox">
          <input type="radio">
          <select></select>
          <textarea></textarea>
          <input type="submit" value="save" class="button">
        </form>
      </div>
      <div class="small-12" id="table">
        <h2>Table</h2>
        <table>
          <tr><th>Name</th><th>MOBILE</th></tr>
          <tr><td></td><td>none</td></tr>
        </table>
        <table class="table_striped">
          <tr><th>Name</th><th>MOBILE</th></tr>
          <tr><td></td><td>none</td></tr>
        </table>
        <table class="table_hover">
          <tr><th>Name</th><th>MOBILE</th></tr>
          <tr><td></td><td>none</td></tr>
        </table>
      </div>
      <div class="small-12" id="button">
        <h2>Button</h2>
        <button class="button">Click Me</button>
        <h4>Size</h4>
        <button class="button button_size_small">Click Me</button>
        <button class="button">Click Me</button>
        <button class="button button_size_large">Click Me</button>
        <button class="button button_size_full">Click Me</button>
        <h4>Color</h4>
        <button class="button">Click Me</button>
        <button class="button button_color_secondary">Click Me</button>
        <button class="button button_color_success">Click Me</button>
        <button class="button button_color_warning">Click Me</button>
        <h4>Hollow</h4>
        <button class="button button_hollow">Click Me</button>
        <button class="button button_hollow button_color_secondary">Click Me</button>
        <button class="button button_hollow button_color_success">Click Me</button>
        <button class="button button_hollow button_color_warning">Click Me</button>
        <h4>Round</h4>
        <button class="button button_round">button</button>
        <button class="button button_round button_hollow">button</button>
      </div>
      <div class="small-12" id="grid">
        <h2>Grid</h2>
        <div class="wrap">
          {% for i in range(0,12) %}
          <div class="small-12 medium-6 large-3" style="border:1px solid #ccc;height:40px;margin-bottom:1rem;"></div>
          {% endfor %}
        </div>
      </div>
      <div class="small-12" id="helper">
        <h2>Helper</h2>
        <p>.hidden</p>
        <p class="text-left">.text-left</p>
        <p class="text-center">.text-center</p>
        <p class="text-right">.text-right</p>
        <span class="float-left">.float-left</span>
        <span class="float-right">.float-right</span>
      </div>
    </div>
  </div>
</div>
{% endblock %}
