body {
    font-size: 0.85rem;
}

h1 {
    margin: 2rem 0;
    font-size: 2rem;
    font-weight: bold;
}
h2 {
    margin: 1.5rem 0;
    font-size: 1.5rem;
    font-weight: bold;
}
h3 {
    margin: 0 0 1rem 0;
    font-size: 1.25rem;
}
h4 {
    margin: 0 0 0.5rem 0;
    font-size: 1rem;
}
h5 {
    margin: 0;
    font-size: 0.85rem;
}
h6 {
    margin: 0;
    font-size: 0.7rem;
}


p {
    margin: 0 .5rem 0 0;
}

span {
    color: grey;
}

a {
  color: black;
}

/** img **/

img {
  display: inline-block;
  max-width: 100%;
}

.img_grayscale{
  filter: grayscale(1);
}

/** container **/
.container {
    width: 1200px;
    max-width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    margin: 0 auto;
}

/** flexbox **/
.flex {
  display: flex;
  box-sizing: border-box;
}

.flex_center {
  align-items: center;
}

.flex_between {
  justify-content: space-between;
}

/** table **/
table {
  width: 100%;
  max-width: 1200px;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

th, td {
  padding: 0.5rem;
}

th {
  background-color: lightgrey;
}

/** form **/
input:not([type=radio]):not([type=checkbox]), select, textarea {
  display: block;
  padding: 0.5rem;
  box-sizing: border-box;
  margin-bottom: .5rem;
  width: 100%;
  max-width: 560px;
}


/** button **/
.btn {
    display: inline-block;
    padding: 0.5rem 1.25rem;
    background: black;
    border: 1px solid black;
    color: white;
    margin: 0 0 .5rem 0;
}

.btn_outline {
  background-color: transparent;
  border-color: black;
  color: black;
}

.btn_small {
    font-size: 0.7rem;
    padding: 0.2rem 0.8rem;
    margin: 0;
}

.btn:hover {
  filter: brightness(110%);
}

.btn:active {
  filter: brightness(90%);
}
