.search-form {
    height: 40px;
    margin-bottom: 5px;
    position: relative;
    &::before {
        content: "\f002";
        font-family: FontAwesome;
        position: absolute;
        color: #bbb;
        left: 15px;
        top: 0;
        line-height: 40px;
    }
    input[type='search'] {
        height: 100%;
        float: left;
        width: 80%;
        padding-left: 5px;
        border: 2px solid $primary-color;
        font-size: 14px;
        padding-left: 35px;
        background: none;
        position: relative;
        &:hover,
        &:active {
          border: 2px solid $primary-color;
          box-shadow: none;
        }
    }
    .button {
        height: 100%;
        float: left;
        width: 20%;
        margin: 0;
        letter-spacing: 4px;
    }
}


.badge {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%,-50%);
    border-radius: 10px;
    border-bottom-left-radius: 0;
    padding: 2px;
    min-width: 1rem;
    background: #910000;
    color: white;
    font-size: 0.75rem;
    box-sizing: border-box;
}
