.menu {
  padding: 0;
  li, a {
    display: inline-block;
  }
  a,
  a:hover {
    text-decoration: none;
  }
  a {
      padding: $menu-padding;
  }
  /* .active a { */
  /*     background: $menu-active-bg; */
  /*     color: $menu-active-color; */
  /* } */
}

.menu_vertical {
  li, a {
    display: block !important;
  }
}
