.top-bar {
  $height: 4rem;
  width: 100%;
  height: $height;
  line-height: $height;
  padding: 0 1rem;
  box-sizing: border-box;
  background: $primary-color;
  color: white;
  a {
      color: white;
  }
  font-size: 0.85rem;
  .menu {
    line-height: $height;
    a {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}
.top-bar_fixed {
  position: fixed;
  top: 0;
  left: 0;
}
