/** .circle **/
@mixin circle($size, $border) {
    display: inline-block;
    width: $size;
    height: $size;
    border-radius: $size;
    border: $border;
}


@mixin clearfix {
    &::before,
    &::after {
        content: ' ';
        display: table;
    }
    &::after {
        clear:both;
    }
}

@mixin vertical-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@mixin horizontal-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@mixin absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin disable-mouse-outline {
    [data-whatinput='mouse'] & {
        outline: 0;
    }
}
