/**
 * juss settings
 */
/** color **/
/**
 * juss color variable
 * @date 2016/09/21
 *
 */
/** white grey **/
/** pale base color **/
.button {
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  border: none;
  user-select: none;
  box-sizing: border-box;
  font-size: 100%;
  padding: 0.5em 1em;
  color: #444;
  color: rgba(0, 0, 0, 0.8);
  background-color: #E6E6E6;
  text-decoration: none;
  margin-bottom: 0.5rem;
  /** primary color **/
  background: #00bcd4;
  color: white; }
  .button_size_small {
    font-size: 0.85rem;
    padding: 0.3rem 0.8rem; }
  .button_size_large {
    font-size: 1.2rem;
    padding: 0.6rem 1.2rem; }
  .button_size_full {
    display: block;
    width: 100%; }
  .button_color_primary {
    background: #00bcd4;
    color: white; }
  .button_color_secondary {
    background: #f1f1f1;
    color: black; }
  .button_style_hollow {
    background: transparent;
    color: #00bcd4;
    border: 1px solid #00bcd4; }
