/**
 * juss
 * @author chen
 * @date 20160921
 */
/**
 * juss color variable
 * @date 2016/09/21
 *
 */
/** white grey **/
/** pale base color **/
/**
 *
 */
/**
 * juss settings
 */
/** color **/
/**
 * juss color variable
 * @date 2016/09/21
 *
 */
/** white grey **/
/** pale base color **/
/** default palette **/
/**
 * basic
 */
.top {
  height: 2em;
  font-weight: 400;
  font-size: 1.25em; }

/**
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}
**/
.circle {
  display: block;
  width: 50%;
  border-radius: 50%;
  overflow: hidden; }

.left {
  float: left; }

.right {
  float: right; }

/** compent **/
/** hidden class **/
.hidden {
  display: none !important; }

/**
 * grid
 */
.wrap {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100%; }

.wrap > .small-1 {
  display: block;
  width: 8.33333%;
  max-width: 100%;
  box-sizing: border-box; }

.wrap > .medium-1 {
  display: block;
  width: 8.33333%;
  max-width: 100%;
  box-sizing: border-box; }

.wrap > .large-1 {
  display: block;
  width: 8.33333%;
  max-width: 100%;
  box-sizing: border-box; }

@media (max-width: 0) {
  /** while small **/
  [class*="small-1"] {
    width: 8.33333% !important; } }

@media (min-width: 0) and (max-width: 1024px) {
  [class*="medium-1"] {
    width: 8.33333% !important; } }

@media (min-width: 1024px) {
  [class*="large-1"] {
    width: 8.33333% !important; } }

.wrap > .small-2 {
  display: block;
  width: 16.66667%;
  max-width: 100%;
  box-sizing: border-box; }

.wrap > .medium-2 {
  display: block;
  width: 16.66667%;
  max-width: 100%;
  box-sizing: border-box; }

.wrap > .large-2 {
  display: block;
  width: 16.66667%;
  max-width: 100%;
  box-sizing: border-box; }

@media (max-width: 0) {
  /** while small **/
  [class*="small-2"] {
    width: 16.66667% !important; } }

@media (min-width: 0) and (max-width: 1024px) {
  [class*="medium-2"] {
    width: 16.66667% !important; } }

@media (min-width: 1024px) {
  [class*="large-2"] {
    width: 16.66667% !important; } }

.wrap > .small-3 {
  display: block;
  width: 25%;
  max-width: 100%;
  box-sizing: border-box; }

.wrap > .medium-3 {
  display: block;
  width: 25%;
  max-width: 100%;
  box-sizing: border-box; }

.wrap > .large-3 {
  display: block;
  width: 25%;
  max-width: 100%;
  box-sizing: border-box; }

@media (max-width: 0) {
  /** while small **/
  [class*="small-3"] {
    width: 25% !important; } }

@media (min-width: 0) and (max-width: 1024px) {
  [class*="medium-3"] {
    width: 25% !important; } }

@media (min-width: 1024px) {
  [class*="large-3"] {
    width: 25% !important; } }

.wrap > .small-4 {
  display: block;
  width: 33.33333%;
  max-width: 100%;
  box-sizing: border-box; }

.wrap > .medium-4 {
  display: block;
  width: 33.33333%;
  max-width: 100%;
  box-sizing: border-box; }

.wrap > .large-4 {
  display: block;
  width: 33.33333%;
  max-width: 100%;
  box-sizing: border-box; }

@media (max-width: 0) {
  /** while small **/
  [class*="small-4"] {
    width: 33.33333% !important; } }

@media (min-width: 0) and (max-width: 1024px) {
  [class*="medium-4"] {
    width: 33.33333% !important; } }

@media (min-width: 1024px) {
  [class*="large-4"] {
    width: 33.33333% !important; } }

.wrap > .small-5 {
  display: block;
  width: 41.66667%;
  max-width: 100%;
  box-sizing: border-box; }

.wrap > .medium-5 {
  display: block;
  width: 41.66667%;
  max-width: 100%;
  box-sizing: border-box; }

.wrap > .large-5 {
  display: block;
  width: 41.66667%;
  max-width: 100%;
  box-sizing: border-box; }

@media (max-width: 0) {
  /** while small **/
  [class*="small-5"] {
    width: 41.66667% !important; } }

@media (min-width: 0) and (max-width: 1024px) {
  [class*="medium-5"] {
    width: 41.66667% !important; } }

@media (min-width: 1024px) {
  [class*="large-5"] {
    width: 41.66667% !important; } }

.wrap > .small-6 {
  display: block;
  width: 50%;
  max-width: 100%;
  box-sizing: border-box; }

.wrap > .medium-6 {
  display: block;
  width: 50%;
  max-width: 100%;
  box-sizing: border-box; }

.wrap > .large-6 {
  display: block;
  width: 50%;
  max-width: 100%;
  box-sizing: border-box; }

@media (max-width: 0) {
  /** while small **/
  [class*="small-6"] {
    width: 50% !important; } }

@media (min-width: 0) and (max-width: 1024px) {
  [class*="medium-6"] {
    width: 50% !important; } }

@media (min-width: 1024px) {
  [class*="large-6"] {
    width: 50% !important; } }

.wrap > .small-7 {
  display: block;
  width: 58.33333%;
  max-width: 100%;
  box-sizing: border-box; }

.wrap > .medium-7 {
  display: block;
  width: 58.33333%;
  max-width: 100%;
  box-sizing: border-box; }

.wrap > .large-7 {
  display: block;
  width: 58.33333%;
  max-width: 100%;
  box-sizing: border-box; }

@media (max-width: 0) {
  /** while small **/
  [class*="small-7"] {
    width: 58.33333% !important; } }

@media (min-width: 0) and (max-width: 1024px) {
  [class*="medium-7"] {
    width: 58.33333% !important; } }

@media (min-width: 1024px) {
  [class*="large-7"] {
    width: 58.33333% !important; } }

.wrap > .small-8 {
  display: block;
  width: 66.66667%;
  max-width: 100%;
  box-sizing: border-box; }

.wrap > .medium-8 {
  display: block;
  width: 66.66667%;
  max-width: 100%;
  box-sizing: border-box; }

.wrap > .large-8 {
  display: block;
  width: 66.66667%;
  max-width: 100%;
  box-sizing: border-box; }

@media (max-width: 0) {
  /** while small **/
  [class*="small-8"] {
    width: 66.66667% !important; } }

@media (min-width: 0) and (max-width: 1024px) {
  [class*="medium-8"] {
    width: 66.66667% !important; } }

@media (min-width: 1024px) {
  [class*="large-8"] {
    width: 66.66667% !important; } }

.wrap > .small-9 {
  display: block;
  width: 75%;
  max-width: 100%;
  box-sizing: border-box; }

.wrap > .medium-9 {
  display: block;
  width: 75%;
  max-width: 100%;
  box-sizing: border-box; }

.wrap > .large-9 {
  display: block;
  width: 75%;
  max-width: 100%;
  box-sizing: border-box; }

@media (max-width: 0) {
  /** while small **/
  [class*="small-9"] {
    width: 75% !important; } }

@media (min-width: 0) and (max-width: 1024px) {
  [class*="medium-9"] {
    width: 75% !important; } }

@media (min-width: 1024px) {
  [class*="large-9"] {
    width: 75% !important; } }

.wrap > .small-10 {
  display: block;
  width: 83.33333%;
  max-width: 100%;
  box-sizing: border-box; }

.wrap > .medium-10 {
  display: block;
  width: 83.33333%;
  max-width: 100%;
  box-sizing: border-box; }

.wrap > .large-10 {
  display: block;
  width: 83.33333%;
  max-width: 100%;
  box-sizing: border-box; }

@media (max-width: 0) {
  /** while small **/
  [class*="small-10"] {
    width: 83.33333% !important; } }

@media (min-width: 0) and (max-width: 1024px) {
  [class*="medium-10"] {
    width: 83.33333% !important; } }

@media (min-width: 1024px) {
  [class*="large-10"] {
    width: 83.33333% !important; } }

.wrap > .small-11 {
  display: block;
  width: 91.66667%;
  max-width: 100%;
  box-sizing: border-box; }

.wrap > .medium-11 {
  display: block;
  width: 91.66667%;
  max-width: 100%;
  box-sizing: border-box; }

.wrap > .large-11 {
  display: block;
  width: 91.66667%;
  max-width: 100%;
  box-sizing: border-box; }

@media (max-width: 0) {
  /** while small **/
  [class*="small-11"] {
    width: 91.66667% !important; } }

@media (min-width: 0) and (max-width: 1024px) {
  [class*="medium-11"] {
    width: 91.66667% !important; } }

@media (min-width: 1024px) {
  [class*="large-11"] {
    width: 91.66667% !important; } }

.wrap > .small-12 {
  display: block;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box; }

.wrap > .medium-12 {
  display: block;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box; }

.wrap > .large-12 {
  display: block;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box; }

@media (max-width: 0) {
  /** while small **/
  [class*="small-12"] {
    width: 100% !important; } }

@media (min-width: 0) and (max-width: 1024px) {
  [class*="medium-12"] {
    width: 100% !important; } }

@media (min-width: 1024px) {
  [class*="large-12"] {
    width: 100% !important; } }
