/**
 * basic
 */

@mixin juss-global-styles {

    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }

    body {
        padding: 0;
        margin: 0;
        font-family: "Microsoft YaHei",tahoma,arial,sans-serif;
        font-weight: $global-font-weight;
        line-height: $global-line-height;
        color: $body-font-color;
        background: $body-background;
    }

    /** h1 to h6 **/
    @each $header, $size in (h1:2rem, h2:1.5rem, h3:1.2rem, h4:1.1rem, h5:1rem, h6:0.9rem) {
        #{$header} {
        font-size: $size;
        -webkit-margin-before: 0;
        }
    }


    small {
        font-size: 80%;
    }

    div {
        //box-sizing: border-box;
    }

    a {
        text-decoration: none;
    }

    p {
    }

    ul {
        margin: 0;
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
        -webkit-padding-start: 0;
        list-style-type: none;
    }

    /** image **/
    img {
        max-width: 100%;
        height: auto;
        display: inline-block;
        vertical-align: middle;
    }

    textarea {
        height: auto;
        min-height: 50px;
        border-radius: $global-radius;
    }

    select {
        width: 100%;
        border-radius: $global-radius;
    }

    button {
        -webkit-appearance: none;
        -moz-appearance: none;
        background: transparent;
        padding: 0;
        border: 0;
        border-radius: $global-radius;
        line-height: 1;
    }

    span {
        font-size: 90%;
        color: $body-font-color * 0.8;
    }
}
