@mixin button-style($fill:solid){
    @if $fill {
        background: $primary-color;
        color: white;
        &:hover {
            background: darken($primary-color, 10%);
            color: white;
        }
        @each $color, $value in $palette {
            & + .button_color_#{$color} {
                background: $value;
                &:hover {
                    background: darken($value, 10%);
                    color: white;
                }
            }
        }
    } @else {
        background: transparent;
        color: $primary-color;
        border: 1px solid $primary-color;
        &:hover {
            background: $primary-color;
            color: white;
        }
        @each $color, $value in $palette {
            & + .button_color_#{$color} {
            background: transparent;
                color: $value;
                border-color: $value;
                &:hover {
                    background: $value;
                    color: white;
                }
            }
        }
    }
}

.button {
    @include disable-mouse-outline;
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    border: $button-border;
    border-radius: $button-radius;
    user-select: none;
    box-sizing: border-box;
    margin: $button-margin;
    padding: $button-padding;
    text-decoration: none;
    @include button-style(true);

    &_hollow {
        @include button-style(false);
    }

    &_round {
        border-radius: $button-round;
    }

    &_size {
        @each $ele, $size in $button-size {
            &_#{$ele} {
                font-size: $size;
            }
        }

    }

    &_full {
        display: block;
        width: 100%;
    }
}
