input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

textarea {
  resize: vertical;
}
input[type="search"] {
  -webkit-appearance: none;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="color"],
select,
textarea {
    display: block;
    width: 100%;
    //max-width: 100%;
    height: $form-input-height;
    margin: $form-input-margin;
    padding: $form-input-padding;
    //line-height: $form-input-height;
    line-height: auto;
    border: $form-input-border;
    border-radius: $form-input-radius;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none; /** safari **/
    &:focus {
        outline: 0;
        border-color: $primary-color;
    }
    &[disabled] {
        cursor: not-allowed;
        background-color: #eaeded;
        color: #cad2d3;
    }
}

textarea {
    height: auto;
    min-height: $form-input-height;
    padding: .5rem;
}

input, select, textarea {
    &[readonly] {
        background-color: #eee;
        color: #777;
        border-color: #ccc;
    }
    &:focus:invalid {
        color: #b94a48;
        border-color: #e9322d;
    }
}

label {
}
