input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="color"],
select,
textarea {
    padding: $form-input-padding;
    display: block;
    width: 100%;
    height: $form-input-height;
    margin-bottom: $global-margin;
    line-height: $form-input-height;
    max-width: 100%;
    border: $global-border-width solid $global-border-color;
    border-radius: $form-input-radius;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-appearance: none; /** safari **/
    box-sizing: border-box;
    &:focus {
        outline: 0;
        border-color: $primary-color;
    }
    &[disabled] {
        cursor: not-allowed;
        background-color: #eaeded;
        color: #cad2d3;
    }
}

input, select, textarea {
    &[readonly] {
        background-color: #eee;
        color: #777;
        border-color: #ccc;
    }
    &:focus:invalid {
        color: #b94a48;
        border-color: #e9322d;
    }
}

label {
}
