/**
 * grid
 */

.wrap {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
}

@for $i from 1 through $grid-columns {
    @each $size in small, medium, large {
        .wrap > .#{$size}-#{$i} {
        display: block;
        width: 100%/$grid-columns*$i;
        max-width: 100%;
        box-sizing: border-box;
        padding: $grid-column-padding;
        }
    }

    @media (max-width:map_get($grid-breakpoints, medium)) {
        [class*="small-#{$i}"] {
            width: 100%/$grid-columns*$i !important;
        }
    }
    @media (min-width: map_get($grid-breakpoints, medium)) and (max-width: map_get($grid-breakpoints, large)) {
        [class*="medium-#{$i}"] {
            width: 100%/$grid-columns*$i !important;
        }
    }
    @media (min-width: map_get($grid-breakpoints, medium)) {
        [class*="medium-#{$i}"]:not([class*="large-"]) {
            width: 100%/$grid-columns*$i !important;
            border-color: blue !important;
        }
    }
    @media (min-width: map_get($grid-breakpoints, large)) {
        [class*="large-#{$i}"] {
            width: 100%/$grid-columns*$i !important;
        }
    }
}


