.top {
    height: 2em;
    font-weight: 400;
    font-size: 1.25em;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.circle {
    display: block;
    width: 50%;
    border-radius: 50%;
    overflow: hidden;
}

.left {
    float: left;
}
.right {
    float: right;
}

/** compent **/

button, .button {
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    border: none;
    user-select: none;
    box-sizing: border-box;
    font-size: 100%;
    padding: 0.5em 1em;
    color: #444;
    color: rgba(0,0,0,0.80);
    border: 1px solid #999;
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 2px;
    //background: $primary-color;
}

/** hidden class **/
.hidden {
    display: none !important;
}

/** image **/
img {
    max-width: 100%;
    height: auto;
    display: block;
}
