/** .text-* and .bg-* **/
@each $name, $value in $palette {
  .text-#{$name} {
    color: $value;
  }
  .bg-#{$name} {
    background: $value;
  }
}

@each $name, $value in $color {
  .bg-#{$name} {
    background: $value;
  }
}

// text align
@each $align in left, center, right {
    .text-#{$align} {
        text-align: #{$align};
    }
}
.float-left {
    float: left;
}

.float-right {
    float: right;
}

.hide {
    display: none !important;
}

.show-for-small {
  /** just show small, medium and large do not care **/
  @media (max-width:map_get($grid-breakpoints, medium)) {
      display: block !important;
  }
}
.show-for-small-only {
  /** show small only, hide others **/
  @extend .show-for-small;
  @media (min-width:map_get($grid-breakpoints, medium)) {
    display: none !important;
  }
}

.show-for-medium {
  /** show for medium and large **/
  @media (min-width:map_get($grid-breakpoints, medium)) and (max-width:map_get($grid-breakpoints, large)) {
    display: block !important;
  }
}
.show-for-medium-only {
  @extend .show-for-medium;
  @media (max-width:map_get($grid-breakpoints, medium)) {
    display: none !important;
  }
  @media (min-width:map_get($grid-breakpoints, large)) {
    display: none !important;
  }
}

.show-for-small-medium {
  @extend .show-for-medium;
  @extend .show-for-small;
  @media (min-width:map_get($grid-breakpoints, large)) {
    display: none !important;
  }
}

.show-for-medium-large {
  /** only **/
  @extend .show-for-medium;
  @extend .show-for-large;
  @media (max-width:map_get($grid-breakpoints, medium)) {
    display: none !important;
  }
}

.show-for-large {
  /** show for large only **/
  @media (min-width:map_get($grid-breakpoints, large)) {
      display: block !important;
  }
}
.show-for-large-only {
  @extend .show-for-large;
  @media (max-width:map_get($grid-breakpoints, large)) {
      display: none !important;
  }
}
