table {
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  margin: $table-margin;
  background-color: $table-background;

  th {
      text-align: left;
  }

  th,
  td {
    padding: $table-cell-padding;
    vertical-align: top;
    border: $table-border;
  }
}

/* .table_striped { */
/*   tr:nth-of-type(odd) { */
/*     background-color: $table-bg-accent; */
/*   } */
/* } */

/* .table_hover { */
/*     tr:hover { */
/*         background-color: $table-background-hover; */
/*     } */
/* } */
